@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --primary-bg: #F4F6FC;
  --secondary-bg: #2E3056;
  --accent: #2405F2;
  --accent-bg: #2405F2;
}

body {
  background-color: var(--primary-bg);
  color: var(--secondary-bg);
} */
